<div class="panel panel-default">
    <div class="panel-heading">

      <div class="row">
        <div class="col-md-6">
          <h3 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Listar Personal para registro de ingreso/salidas</h3>
        </div>
        <div class="col-md-6">
          <!-- <a href="#/crear" class="btn btn-info pull-right">Nuevo <i class="fa fa-plus"></i></a> -->
          <a href="RegistroRFID#/crear" class="btn btn-info pull-right">Registro RFID <i class="fa fa-plus"></i></a>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <table class="table table-responsive" datatable="ng" dt-options="vm.dtOptions" >
          <thead>
              <tr>
                  <th>Nro.</th>
                  <th>Nombres Apellidos</th>
                  <th>Celular</th>
                  <th>Horario</th>
                  <th>Foto</th>
                  <th>Ver</th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="persona in personas">
              <td> {{ $index + 1}} </td>
              <td> {{persona.nombres}} </td>
              <td> {{persona.telefono}} </td>
              <td> {{persona.horario}} </td>
              <td> <img src="{{persona.imagen}}" width="55" class="img-thumbnail">   </td>
              <td> <a href="#/ver/{{persona.id}}" style="color:#46b8da;"> <i class="fa fa-eye" aria-hidden="true"></i>    </a> </td>
            </tr>
          </tbody>
      </table>
    </div>
</div>
