<section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <form cautocomplete="off" ng-submit="registroManual1()" enctype="multipart/form-data">
                <button type="submit" name="button">
                  <img src="https://vignette2.wikia.nocookie.net/sims/images/1/19/Sims4_Cuarto_de_Ni%C3%B1o_Icono.png/revision/latest?cb=20160629004304&path-prefix=es" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                </button>
              </form>
              <h3>Niños</h3>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <form cautocomplete="off" ng-submit="registroManual2()" enctype="multipart/form-data">
                <button type="submit" name="button">
                  <img src="http://i65.tinypic.com/14nlrph.png" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                </button>
              </form>
              <h3>Mujeres</h3>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <form cautocomplete="off" ng-submit="registroManual3()" enctype="multipart/form-data">
                <button type="submit" name="button">
                  <img src="http://i63.tinypic.com/9ia2x5.png" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                </button>
              </form>
              <h3>Hombres</h3>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <form cautocomplete="off" ng-submit="registroManual4()" enctype="multipart/form-data">
                <button type="submit" name="button">
                  <img src="http://i68.tinypic.com/34q5u0w.png" width="200" height="200" class=" rounded-circle" alt="Generic placeholder thumbnail">
                </button>
              </form>
              <h3>Ancianos</h3>
            </div>
          </section>

          <div class="col-md-6">
            <div class="{{panel}}" role="alert"> <strong>{{msj}}</strong> </div>
          </div>
