<div class="panel panel-default">
    <div class="panel-heading">

      <div class="row">
        <div class="col-md-6">
          <h3 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Listar Stands</h3>
        </div>
        <div class="col-md-6">
          <!-- <a href="#/crear" class="btn btn-info pull-right">Nuevo <i class="fa fa-plus"></i></a> -->
          <a href="../index.php/Stand#/crear" class="btn btn-info pull-right">Nuevo <i class="fa fa-plus"></i></a>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <table class="table table-responsive" datatable="ng" dt-options="vm.dtOptions" >
          <thead>
              <tr>
                  <th>Nro.</th>
                  <th>Empresa</th>
                  <th>Encargado</th>
                  <th>Direccion</th>
                  <th>Telefono</th>
                  <th>Descripcion</th>
                  <th>Nro Personas</th>
                  <th>Editar</th>
                  <th>Generar</th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="stand in stands">
              <td> {{ $index + 1}} </td>
              <td> {{stand.nom_empresa}} </td>
              <td> {{stand.encargado}} </td>
              <td> {{stand.direccion}} </td>
              <td> {{stand.telefono}} </td>
              <td> {{stand.descripcion}} </td>
              <td> {{stand.cant_personal}} </td>
              <td> <a href="#/editar/{{stand.id}}" style="color:#f0ad4e;"> <i class="fa fa-pencil" aria-hidden="true"></i>    </a> </td>
              <td> <a ng-if="stand.generar_personal != 1" href="../index.php/Stand/Persona/{{stand.id}}" target="_blank" > <i class="fa fa-eye" aria-hidden="true"></i>    </a> </td>
              <!--<td> <a href="#/eliminar/{{stand.id}}" style="color:#c12e2a;"> <i class="fa fa-trash-o" aria-hidden="true"></i> </a> </td> -->
            </tr>
          </tbody>
      </table>
    </div>
</div>
