<div class="panel panel-default">
    <div class="panel-heading">

      <div class="row">
        <div class="col-md-6">
          <h3 class="panel-title"><i class="glyphicon glyphicon-lock"></i> {{titulo}} </h3>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <form autocomplete="off" ng-submit="guardarCargo()" enctype=”multipart/form-data>
                <div class="row">
                  <div class="col-md-6">
                    <label>Nombre del cargo</label>
                    <input type="text" class="form-control"  placeholder="Nombre del Cargo "  ng-model="Cargo.cargo" id="cargo" required>
                  </div>
                  <div class="col-md-6">
                    <label>Seleccionar horario</label>
                    <select class="form-control" name="horario_id" ng-model="Cargo.horario_id">
                      <option  ng-repeat="horario in horarios" ng-selected="Cargo.horario_id == horario.id" value="{{horario.id}}">{{horario.horario}}</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <label>Descipcion</label>
                    <textarea class="form-control" placeholder="Descripcion" ng-model="Cargo.descripcion" required id="descripcion" rows="8" cols="160"></textarea>
                  </div>
                </div>

                <div class="row" style="margin-top:15px;">
                  <div class="col-md-3">
                    <button type="submit" name="button" class="{{accion}}" >
                      <i class="{{botonIcono}}" aria-hidden="true"></i> {{boton}}
                    </button>
                  </div>
                  <div class="col-md-6">
                    <div class="{{panel}}" role="alert"> <strong>{{msj}}</strong> </div>
                  </div>
                  <div class="col-md-3">
                    <a href="#/lista" class="btn btn-info pull-right"> <i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
                  </div>
                </div>
              </form>

    </div>
</div>
