<div class="panel panel-default">
    <div class="panel-heading">

      <div class="row">
        <div class="col-md-6">
          <h3 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> {{titulo}} </h3>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <form autocomplete="off" ng-submit="guardarNivel()" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-md-6">
                    <label> Piso</label>
                    <input type="text" class="form-control"  placeholder="Piso "  ng-model="Nivel.piso" id="piso" required>
                  </div>
                  <div class="col-md-6">
                    <label>Bloque</label>
                    <input type="text" class="form-control"  placeholder="Bloque" ng-model="Nivel.bloque" id="bloque" required>
                  </div>
                </div>

                <div class="row" style="margin-top:15px;">
                  <div  ng-if="mostrar == 'SI'"  class="col-md-3">
                    <button type="submit" name="button" class="{{accion}}" >
                      <i class="{{botonIcono}}" aria-hidden="true"></i> {{boton}}
                    </button>
                  </div>
                  <div class="col-md-6">
                    <div class="{{panel}}" role="alert"> <strong>{{msj}}</strong> </div>
                  </div>
                  <div class="col-md-3">
                    <a href="#/lista" class="btn btn-info pull-right"> <i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
                  </div>
                </div>
              </form>

    </div>
</div>
