<div class="panel panel-default">
    <div class="panel-heading">

      <div class="row">
        <div class="col-md-6">
          <h3 class="panel-title"><i class="glyphicon glyphicon-lock"></i> {{titulo}} </h3>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <form autocomplete="off" ng-submit="confirmarPreventa()" enctype=”multipart/form-data>
                <div class="row">
                  <div class="col-md-3">
                    <label>Nombres</label>
                    <input type="text" class="form-control"  placeholder="Nombres"  ng-model="Preventa.nombres" id="nombres" required>
                  </div>
                  <div class="col-md-3">
                    <label>Apellidos</label>
                    <input type="text" class="form-control"  placeholder="Apellidos"  ng-model="Preventa.apellidos" id="apellidos" required>
                  </div>
                  <div class="col-md-3">
                    <label>Correo Electronico</label>
                    <input type="email" class="form-control"  placeholder="Correo Electronico"  ng-model="Preventa.correo" id="correo" required>
                  </div>
                  <div class="col-md-3">
                    <label>Documento de Identidad</label>
                    <input type="text" class="form-control"  placeholder="Documento de Identidad "  ng-model="Preventa.carnet" id="carnet"  maxlength="8" required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label>Fecha de Nacimiento</label>
                    <input type="text" class="form-control"  ng-model="Preventa.fecha_nacimiento" id="fecha_nacimiento" required>
                  </div>
                  <div class="col-md-3">
                    <label>Telefono</label>
                    <input type="text" class="form-control"  placeholder="Telefono "  ng-model="Preventa.telefono" id="telefono"  maxlength="8" required>
                  </div>
                  <div class="col-md-3">
                    <label>Genero</label>
                    <select class="form-control" ng-model="Preventa.genero" id="genero">
                      <option value="Femenino">Femenino</option>
                      <option value="Masculino">Masculino</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label>Tarjeta</label>
                    <input type="text" class="form-control" placeholder="Numero de tarjeta" ng-model="Preventa.tarjeta" id="tarjeta" name="tarjeta" maxlength="10" required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                      <label>Imgen</label><br>
                      <input type="hidden"  ng-model="Preventa.imagen" id="imagen" required >
                      <video id="video" width="200" height="200"  class="img-thumbnail"></video><br/>
                      <a  id="capture" ng-click="capturar()"> <i class="fa fa-camera"> </i> Tomar foto </a>
                  </div>
                  <div class="col-md-4">
                    <canvas id="canvas" width="200" height="200" style="display: none;"></canvas>
                    <img class="img-thumbnail" id="photo" ><br>
                  </div>

                  <div class="col-md-4" ng-if="(Preventa.imagen).length > 0">
                    <img src="{{Preventa.imagen}}" class="img-thumbnail" id="foto" ><br>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">

                  </div>
                  <div class="col-md-4">
                    <label for="cantidad">Monto inicial de recarga (Bs.):</label>
                    <input type="text" class="form-control" placeholder="Recarga en Bs." ng-model="Preventa.cantidad" id="cantidad" name="cantidad" maxlength="6" required>
                  </div>
                  <div class="col-md-4">

                  </div>
                </div>
                <div class="row" style="margin-top:15px;">
                  <div  ng-if="mostrar == 'SI'" class="col-md-3">
                    <button type="submit" name="button" class="{{accion}}" >
                      <i class="{{botonIcono}}" aria-hidden="true"></i>{{boton}}
                    </button>
                  </div>
                  <div class="col-md-6">
                    <div class="{{panel}}" role="alert"> <strong>{{msj}}</strong> </div>
                  </div>
                  <div class="col-md-3">
                    <a href="#/lista" class="btn btn-info pull-right"> <i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
                  </div>
                </div>
              </form>

    </div>
</div>

<script type="text/javascript">
  $('input').blur(function(data){
    //console.log( (this.value).toUpperCase() );
    $(this).val((this.value).toUpperCase());
    //this.val( this.val(). );
  });

(function(){
  var video = document.getElementById('video'),
      canvas = document.getElementById('canvas'),
      context = canvas.getContext('2d'),
      photo = document.getElementById('photo'),
      imagen = document.getElementById('imagen'),
      vendorUrl = window.URL || window.weblkitURL;

  navigator.getMedia =  navigator.getUserMedia ||
                        navigator.webkitGetUserMedia ||
                        navigator.mozGetUserMedia ||
                        navigator.msGetUserMedia;

  navigator.getMedia({
    video:true,
    audio:false
  }, function(stream){
      video.src = vendorUrl.createObjectURL(stream);
      video.play();
  }, function(error){
    ///
  });

})();
</script>
