<div class="row card-panel grey lighten-2">
        <div class="col m10 offset-m1 s10">
            <div class="">
              <h2 class="center-align">{{titulo}}</h2>
            </div>
            <div class="row">
                <form class="col s12" autocomplete="off" ng-submit="guardarPreventa()" enctype="multipart/form-data">
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input ng-model="Preventa.nombres" id="nombres" type="text" class="validate">
                            <label for="nombres">Nombre(s)</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input ng-model="Preventa.apellidos" id="apellidos" type="text" class="validate">
                            <label for="apellidos">Apellido(s)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <!-- <i class="mdi-content-mail prefix"></i> -->
                            <input ng-model="Preventa.correo" id="nombres" type="correo" class="validate" required>
                            <label for="correo">Correo Electronico</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <!-- <i class="mdi-maps-store-mall-directory prefix"></i> -->
                            <input ng-model="Preventa.carnet" id="carnet" type="number" maxlength = "9" class="validate" required>
                            <label for="carnet">Cedula de identidad</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col m6 s12">
                            <!-- <i class="mdi-content-mail prefix"></i> -->
                            <input ng-model="Preventa.fecha_nacimiento" id="fecha_nacimiento" type="date"  required>
                            <!-- <label for="fecha_nac">dd/mm/aaaa</label> -->
                        </div>
                        <div class="input-field col m6 s12">
                            <!-- <i class="mdi-maps-store-mall-directory prefix"></i> -->
                            <input ng-model="Preventa.telefono" id="telefono" type="number" class="validate" required>
                            <label for="telefono">Numero de Telefono / Celular</label>
                        </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <label>Genero</label>
                        <br/>
                      </div>
                      <div class="input-field col m6 s12 center-align">
                        <label for="genero">Masculino</label>
                        <input ng-model="Preventa.genero" name="group1" type="radio" id="genero" value="masculino"/>
                      </div>
                      <div class="input-field col m6 s12 center-align">
                        <input  ng-model="Preventa.genero" name="group1" type="radio" id="genero"  value="femenino"/>
                        <label for="genero">Femenino</label>
                      </div>
                    </div>

                    <div class="divider"></div>
                    <div class="row">
                        <div class="col m12">
                          <p class="center-align">
                             <button type="submit" name="button" class="btn btn-large waves-effect waves-light" >
                               <i class="{{botonIcono}}" aria-hidden="true"></i> {{boton}}
                             </button>
                          </p>
                             <div class="col-md-6">
                               <div class="{{panel}}" role="alert"> <strong>{{msj}}</strong> </div>
                             </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
