<div class="row card-panel gray lighten-2 z-depth-5">
        <div class="col m10 offset-m1 s10 ">
            <div class="row">
              <div class="col s4">

              </div>
              <div class="col s4 ">
                <img src="http://oi68.tinypic.com/oh4is9.jpg" alt="" class="circle responsive-img center-align pulse"> <!-- notice the "circle" class -->
              </div>
              <div class="col s4">

              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <h2 class="center-align">{{titulo}}</h2>
              </div>

            </div>
            <div class="row">
                <form class="col s12" autocomplete="off" ng-submit="guardarPreventa()" enctype="multipart/form-data">
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input ng-model="Preventa.nombres" id="nombres" type="text" class="validate">
                            <label for="nombres">Nombre(s)</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input ng-model="Preventa.apellidos" id="apellidos" type="text" class="validate">
                            <label for="apellidos">Apellido(s)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <!-- <i class="mdi-content-mail prefix"></i> -->
                            <input ng-model="Preventa.correo" id="correo" type="email" class="validate" required>
                            <label for="correo">Correo Electronico</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <!-- <i class="mdi-maps-store-mall-directory prefix"></i> -->
                            <input ng-model="Preventa.carnet" id="carnet" type="number" maxlength = "9" class="validate" required>
                            <label for="carnet">Cedula de identidad</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col m6 s12">
                            <!-- <i class="mdi-content-mail prefix"></i> -->
                            <input type="date" ng-model="Preventa.fecha_nacimiento" id="fecha_nacimiento"   required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                            <!-- <label for="fecha_nac">dd/mm/aaaa</label> -->
                        </div>
                        <div class="input-field col m6 s12">
                            <!-- <i class="mdi-maps-store-mall-directory prefix"></i> -->
                            <input ng-model="Preventa.telefono" id="telefono" type="number" class="validate" required>
                            <label for="telefono">Numero de Telefono / Celular</label>
                        </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <label>Genero</label>
                        <br/>
                      </div>
                      <div class="input-field col m6 s12 center-align">
                        <input ng-model="Preventa.genero" name="group1" type="radio" id="mas" value="masculino"/>
                        <label for="mas">Masculino</label>
                      </div>
                      <div class="input-field col m6 s12 center-align">
                        <input  ng-model="Preventa.genero" name="group1" type="radio" id="fem"  value="femenino"/>
                        <label for="fem">Femenino</label>
                      </div>
                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col m12">
                          <p class="center-align">
                             <button type="submit" name="button" class="btn waves-effect waves-light pulse btn-large red darken-4" >{{boton}}
                               <i class="{{botonIcono}}">send</i>
                             </button>
                          </p>
                             <div class="col-md-6">
                               <div class="{{panel}}" role="alert"> <strong>{{msj}}</strong> </div>
                             </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
