<div class="panel panel-default">
    <div class="panel-heading">

      <div class="row">
        <div class="col-md-6">
          <h3 class="panel-title"><i class="glyphicon glyphicon-lock"></i> {{titulo}} </h3>
        </div>
      </div>

    </div>
    <div class="panel-body">

      <form autocomplete="off">
          <div class="rows">
            <div class="col-md-8" align="center">
              ¿Está seguro de eliminar el Cargo con el nombre  de  <b>{{Personal.nombres}} </b> ?
            </div>
          </div>
          <br><br>
          <div class="rows">
            <div class="col-md-6">
              <a href="#" class="btn btn-primary" ng-click="eliminarPersonal(Personal.id)"> <i class="fa fa-trash-o" aria-hidden="true"></i>  Eliminar </a>
            </div>
            <div class="col-md-6">
              <a href="#/lista" class="btn btn-info pull-right"> <i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
            </div>
          </div>
        </form>

    </div>
</div>
