<div class="panel panel-default">
    <div class="panel-heading">

      <div class="row">
        <div class="col-md-6">
          <h3 class="panel-title"><i class="fa fa-clock-o"></i> {{titulo}} </h3>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <form autocomplete="off" ng-submit="guardarHorario()" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-md-4">
                    <label>Nombre de Horario</label>
                    <input type="text" class="form-control"  placeholder="Nombre del horario "  ng-model="Horario.horario" id="horario" required>
                  </div>
                  <div class="col-md-4">
                    <label>Descripcion del Horario</label>
                    <input type="text" class="form-control"  placeholder="Descripcion del horario"  ng-model="Horario.descripcion" id="descripcion" required>
                  </div>
                  <div class="col-md-4">
                    <label>Tiempo de tolerancia en minutos</label>
                    <input type="number" class="form-control"  placeholder="Tiempo de Tolerancia"  value="0" ng-model="Horario.tolerancia" id="tolerancia">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label>Ingreso en la mañana</label>
                    <input type="text" class="form-control"  placeholder="HH:MM:SS"  ng-model="Horario.ingreso_am" id="ingreso_am" required></br>
                  </div>
                  <div class="col-md-3">
                    <label>Salida en la mañana</label>
                    <input type="text" class="form-control"  placeholder="HH:MM:SS"  ng-model="Horario.salida_am" id="salida_am" required>
                  </div>
                  <div class="col-md-3">
                    <label>Ingreso en la tarde</label>
                    <input type="text" class="form-control"  placeholder="HH:MM:SS"  ng-model="Horario.ingreso_pm" id="ingreso_pm" required></br>
                  </div>
                  <div class="col-md-3">
                    <label>Salida en la tarde</label>
                    <input type="text" class="form-control"  placeholder="HH:MM:SS"  ng-model="Horario.salida_pm" id="salida_pm" required>
                  </div>
                </div>

                <div class="row" style="margin-top:15px;">
                  <div class="col-md-3">
                    <button type="submit" name="button" class="{{accion}}" >
                      <i class="{{botonIcono}}" aria-hidden="true"></i> {{boton}}
                    </button>
                  </div>
                  <div class="col-md-6">
                    <div class="{{panel}}" role="alert"> <strong>{{msj}}</strong> </div>
                  </div>
                  <div class="col-md-3">
                    <a href="#/lista" class="btn btn-info pull-right"> <i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
                  </div>
                </div>
              </form>

    </div>
</div>

<script type="text/javascript">
  $('#ingreso_am').timepicker({ 'timeFormat': 'H:i:s', 'step': 15  });
  $('#salida_am').timepicker({ 'timeFormat': 'H:i:s', 'step': 15  });
  $('#ingreso_pm').timepicker({ 'timeFormat': 'H:i:s', 'step': 15  });
  $('#salida_pm').timepicker({ 'timeFormat': 'H:i:s', 'step': 15  });
</script>
