<div class="panel panel-default">
    <div class="panel-heading">

      <div class="row">
        <div class="col-md-6">
          <h3 class="panel-title"><i class="fa fa-clock-o"></i> {{titulo}} </h3>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <form autocomplete="off" ng-submit="guardarCargo()">
                <div class="row">
                  <div class="col-md-6">
                    <label>Nombre del Cargo</label>
                    <input type="text" class="form-control"  placeholder="Nombre del Cargo"  ng-model="Cargo.cargo" id="cargo" required>
                  </div>
                  <div class="col-md-6">
                    <label>Asignar Horario</label>
                    <!--Tengo una duda en esta parte -->
                    <input type="text" class="form-control"  placeholder="Horario"  ng-model="Cargo.horario_id" id="horario_id" required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <label>Descripcion</label>
                    <textarea class="form-control" rows="5" placeholder="Descripcion del cargo" ng-model="Cargo.descripcion" id="descripcion"></textarea>
                  </div>
                </div>

                <div class="row" style="margin-top:15px;">
                  <div class="col-md-3">
                    <button type="submit" name="button" class="{{accion}}" >
                      <i class="{{botonIcono}}" aria-hidden="true"></i> {{boton}}
                    </button>
                  </div>
                  <div class="col-md-6">
                    <div class="{{panel}}" role="alert"> <strong>{{msj}}</strong> </div>
                  </div>
                  <div class="col-md-3">
                    <a href="#/lista" class="btn btn-info pull-right"> <i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
                  </div>
                </div>
              </form>

    </div>
</div>
